/* New css file for new changes like services and linkedin button on contact page (19/03/2024) */


/* Profile Card */
.profilecard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto; 
  margin-top: 4%;
  /* margin-left: 20%;  */
  text-align: center;
  font-family: arial;
}

.profilecard > img {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 15%;
}

.profilecard > .title {
  color: rgb(108, 104, 104);
  font-size: 18px;
}

.profilecard button {
  border: none;
  /* border-radius: 15px; */
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #39a5fe;
  text-align: center;
  cursor: pointer;
  width: 70%;
  font-size: 18px;
}

.profilecard a {
  text-decoration: none;
  font-size: 22px;
  color: black;
  margin-left: 5px;
}

.profilecard button:hover, .profilecard a:hover {
  opacity: 0.8;
}



/*  SERVICES OFFERED */


/* Services */


.service-item {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .service-title {
    font-size: 24px;
    color: #333;
  }
  
  .service-description {
    font-size: 16px;
    color: #555;
    text-align: justify;
  }


/* Superprof service */
  
.superprof-form {
  margin-top: 10px;
}

.superprof-button {
  /* background-color: #007bff; */
  background-color: #a814c5;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.superprof-button:hover {
  /* background-color: #0056b3; */
  background-color: #34b358;
}


/* Linkedin Button */
.lb {
  font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: larger;
    margin-top: 90px;
}
.lb button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 22px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.lb button:hover {
  background-color: #0056b3;
}


/* Github in contact page */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 3%;
}

.github-profile-section {
  background-color: #fda6a6;
  padding: 20px;
  max-width: 500px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(100, 97, 97, 0.562);
}

.github-profile-section h3 {
  margin-top: 0;
  margin-bottom: 15px;
  color: #1f3e60;
}

.github-profile-section p {
  font-size: 16px;
  color: #0e0d0d;
}

.github-profile-section .github-profile {
  color: #1c22d1;
  text-decoration: none;
}

.github-profile-section .github-profile:hover {
  text-decoration: underline;
}



/* For footer to  be at bottom in desktop site mode in mobile*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body fills the entire viewport height */
}

main {
  flex-grow: 1; /* Allow the main content to grow and fill the available space */
}

footer {
  margin-top: auto; /*Push the footer to the bottom */
}


/* For giving margin of "Feel free to hire me" */
#contact{
  margin-top: 30px;
}


@media screen and (max-width:765px){
  /* Services in index page */
  .service{
    margin-top: 15%;
    margin-right: 5%;
  }

  /* Github in contact page */
  .center-container{
    margin: 10% 10% 3% 10%;  /* top right bottom left */
    
  }

  /* Linkedin in contact page */
  .lb{
    margin: 12% 8% 0 0;
  }

  footer {
    margin-top: 15%; /*Push the footer to the bottom */
  }
  

}