.navbar{
    opacity: 0.9;
    background-color: rgba(97, 100, 141, 0.9);
}


.navbar-brand{
    margin-left: 30px;
}


.navbar:hover{
    opacity: 1;
    filter: contrast(120%);
}

.nav-item{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.navbar-nav{
    margin-left: 15px;
}

.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
    color: rgb(239, 171, 26) ;
}


.nav-link:hover{
    transform: scale(1.25);
}

@media screen and (max-width:990px) {
    .nav-link:hover{
        transform: scale(1.06);
    }
}

.nav-link{
    transition: transform 1s;
} 





.btn-secondary{
    border-radius: 100px;
    background-color: rgb(196, 189, 189);
    color: black;
}

.btn-secondary:hover{
    border-radius: 100px;
}


.skill{
    pointer-events: none;        
    border-radius: 2rem;
    margin: 5px;
    background-color: rgba(246, 65, 71, 0.908);
}



.head-color{
    color: rgba(69, 0, 86, 0.599);
}


.links{
    text-decoration: none;
    color:black;
}



* {
    box-sizing: border-box;
  }

.dev{
   width: 450px;
   height: auto;
}



@media screen and (min-width: 800px){
    .developer{
        padding-left: 190px;
        padding-right: 20px;
        margin-top: 20px;
    }

}
  

.head_summary{
    text-align: justify;
}

.summary{
    text-align: justify;
}


.code{
    margin-left: 20px;
}

.loop{
    font-style: italic;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(218, 132, 10);
    text-align: left;
    line-height: 0.8;
}
  
  @media screen and (max-width: 800px) {
    .developer {
        padding-left: 40px;
        padding-right: 30px;
        margin-top: 48px;
        margin-bottom: 48px;
    }

    
    .summary{
        margin-right: 30px;
        margin-left: 10px;
        padding-top: 80px;
        text-align: left;
        }
    
    .head_summary{
        margin: 10px 20px;
        text-align: left;
    }

    .code{
        text-align: left;
        margin-left: 35px;
    }
  }



.first{
    margin-top: 50px;
    margin-bottom: 50px;
    transition: transform .9s;
    border-radius: 15px;
    border-color: black; 
    margin-left: 30%;
    margin-right: 20%;
    max-width: 40% ;
}

.second{
    margin-top: 50px;
    margin-bottom: 50px;
    transition: transform .9s;
    border-radius: 15px;
    border-color: black; 
    margin-left: 30%;
    margin-right: 20%;
    max-width: 40% ;
}


.third{
    margin-top: 50px;
    margin-bottom: 110px;
    transition: transform 0.8s;
    border-radius: 15px;
    border-color: black;
    margin-left: 30%;
    margin-right: 20%;
    max-width: 40% ;
}


@media screen and (min-width:680px) and (max-width:1000px) {

    .first{
        margin-top: 50px;
        margin-bottom: 110px;
        transition: transform .9s;
        border-radius: 15px;
        border-color: black; 
        margin-right: 30%;
        margin-left: 30%;
    }

    .second{
        margin-top: 50px;
        margin-bottom: 110px;
        transition: transform .9s;
        border-radius: 15px;
        border-color: black; 
        margin-right: 30%;
        margin-left: 30%;
    }

    .third{
        margin-top: 50px;
        margin-bottom: 110px;
        transition: transform 0.8s;
        border-radius: 15px;
        border-color: black;
        margin-right: 30%;
        margin-left: 30%;
    }
    
}

@media screen and (max-width:680px) {

    .first{
        margin-top: 50px;
        margin-bottom: 110px;
        transition: transform .9s;
        border-radius: 15px;
        border-color: black; 
        margin-right: 70px;
        max-width: 500px;
        margin-left: 70px;
        
    }

    .second{
        margin-top: 50px;
        margin-bottom: 110px;
        transition: transform .9s;
        border-radius: 15px;
        border-color: black; 
        margin-right: 70px;
        margin-left: 70px;
        max-width: 500px;
    }

    .third{
        margin-top: 50px;
        margin-bottom: 110px;
        transition: transform 0.8s;
        border-radius: 15px;
        border-color: black;
        margin-right: 70px;
        margin-left: 70px;
        max-width: 500px;
    }
    
}

.card-img-top{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.third:hover , .second:hover , .first:hover{
    transform: scale(1.09);
    border-radius: 15px;
}


.degree{
    margin-bottom: 8px;
}


.css{
    padding-left: 100px;
}



.python{
    padding-left: 30px;
}

.flask{
    padding-left: 90px;
}
  


  @media screen and (max-width: 700px) {
    .techstack{
        text-align: center;
    }

    .html{
        padding-bottom: 25px;
    }
    .css{
        padding-top: 5px;
        padding-left: 20px;
    }
    
    .cplusplus{
        padding-bottom: 25px;
    }
    
    .mysql{
        padding-top: 5px;
        padding-bottom: 25px;
    }

    .python{
        padding-left: 20px;
    }
    
    .javascript{
        padding-top: 5px;
        padding-bottom: 25px;
    }
    
    .flask{
        padding-top: 15px;
        padding-bottom: 13px;
        padding-left: 20px;
    }
  }


.education{
    margin-top: 80px;
    margin-bottom: 10px;
}

.study_image{
    margin-top: 50px;
    margin-bottom: 50px;
}



.footer{
    margin-top: 5%;
    padding: 12px;
    background-color: rgb(231, 231, 179);
}

.lead{
    margin: 10px;
}